.header {
  border-bottom: 1px solid #000;
  background-color: rgb(57, 57, 57);
  color: #fff;
  h1 {
    margin: 0;
    padding: 10px 0;
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.currencies {
  display: inline-block;
}
